.day-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.day-card .day {
    font-size: 12px;
}

.day-card .date {
    font-size: 12px;
    color: #64748b;
}

.day-card .temp {
    font-size: 30px;
}

.day-card-active {
    background-color: rgba(245, 245, 245, 0.1);
}

