* {
    /* Fix issue with extra space on the side when adding padding */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr minmax(500px, 2fr);
    background-color: #27272a;
    color: white;
    height: 100vh;
    font-family: Georgia, serif;
}

.left-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}

/* END OF SCROLL BAR */

.right-section .extra-boards {
    display: flex;
    gap: 20px;
}

